// Common styling variables
$tile-spacing: 10px; /* Spacing between tiles */
$tile-border-radius: 15px; /* Border radius for recommendation tiles */
$tile-width: 150px; /* Fixed width for recommendation tiles */
$recommendation-bg-color: white; /* Background color for recommendation tiles */
$text-color: #333; /* Default text color for labels */

// Styling for Bot Recommendations (with slide-in animation)
.bot-recommendations {
  gap: $tile-spacing; /* Space between recommendation tiles */
  margin-top: 10px; /* Margin at the top of the container */
  margin-left: 40px; /* Margin on the left of the container */

  // Styling for individual recommendation tiles
  .recommendation-tile {
    border-radius: $tile-border-radius; /* Apply rounded corners */
    text-align: center; /* Center-align text and content */
    padding: 10px; /* Padding inside the tile */
    transition: box-shadow 0.3s; /* Smooth transition for hover effects */
    width: $tile-width; /* Fixed width for consistency */
    background-color: #404040; /* Dark background color */
    animation: bounce-in 0.3s forwards;

    a {
      text-decoration: none; /* Remove text underlines for links */
    }

    // Styling for the text area of the tile
    .test-affiliated-link {
      color: $recommendation-bg-color; /* Text color for affiliated links */
    }
  }
}
