@import '../../utils';

// Define primary color variables for consistent styling
$primary-color: #0084ff; // Purple color for primary elements
$bot-bg-color: #607d8b; // Background color for bot messages
$chatinterface-bg-color: #262626; // Background color for the chat interface
$text-color: #fff; // White text color
$border-radius: 15px; // General border radius for smooth edges
$product-icon-size: 100px;

// Define breakpoints for responsive design
$breakpoint-smartphone: 480px; // Width for smartphone responsiveness
$breakpoint-tablet: 768px; // Width for tablet responsiveness

// Styling for the main chatbot interface
.chatbot-interface {
  background-color: $chatinterface-bg-color; // Set background color
  display: flex; // Use Flexbox layout
  flex-direction: column; // Stack items vertically
  max-width: 60%; // Restrict max width to 60%
  margin: 0 auto; // Center horizontally
  height: calc(100vh - 30px);

  // Adjust layout based on device size
  @media (max-width: $breakpoint-tablet) {
    max-width: 80%; // Expand to 80% on tablets
    height: calc(100vh - 20px);
  }

  @media (max-width: $breakpoint-smartphone) {
    max-width: 100%; // Full width on smartphones
    height: calc(100vh);
  }

  // Styling for the chat log area (where messages appear)
  .chat-log {
    overflow: auto;
    scrollbar-width: none; // Hides the scrollbar in Firefox
    scroll-behavior: smooth; // Enable smooth scroll behavior
    -webkit-overflow-scrolling: touch; // Ensures smooth scrolling on iOS devices
    &::-webkit-scrollbar {
      display: none;
    }
    padding: 20px;
    flex-grow: 1; // Allow the chat log to grow with content
    overflow-y: auto; // Enable vertical scrolling
    display: flex; // Use Flexbox
    flex-direction: column; // Stack messages vertically
  }

  // Styling for individual chat messages
  .chat-msg {
    display: flex; // Use Flexbox
    align-items: flex-end; // Align elements at the bottom
    border-radius: $border-radius; // Smooth corners
    max-width: 75%; // Restrict maximum width
    transition: all 0.3s; // Smooth transitions for animations

    // Style for user messages
    &.user {
      padding: 10px; // Padding around messages
      margin-top: 15px; // Margin at the bottom
      margin-bottom: 15px; // Margin at the bottom
      background-color: $primary-color; // User messages use the primary color
      color: $text-color; // White text color
      align-self: flex-end; // Align to the right
      animation: bounce-in 0.3s forwards;
    }

    // Style for user messages
    &.category {
      align-self: flex-end; // Align to the right
      animation: bounce-in 0.3s forwards;
      width: fit-content; /* Set width of category tile */
      height: 120px; /* Set height of category tile */
      max-width: 120px;
      border: 2px solid #f2f2f2; /* Set border */
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px; /* Add padding for icon and label */
      padding-right: 10px;
      padding-left: 10px;
      margin-top: 15px; // Margin at the bottom
      margin-bottom: 15px; // Margin at the bottom
      text-decoration: none; /* Remove default text decoration */
      background-color: #f2f2f2; /* Change background color on hover */
      color: #4d4d4d; /* Change color of icon and label on hover */

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain; // This will maintain the aspect ratio of the image
        }

        svg {
          font-size: $product-icon-size;
        }
      }

      .category-label {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}
