$primary-color: #673ab7; // Purple color for primary elements

// Styling for the input container at the bottom of the chat
.input-container {
  left: 0;
  right: 0;
  padding: 15px; // Padding around the container
  display: flex;
  justify-content: center;

  // Input styling for the chat text area
  .chat-input {
    flex-grow: 1; // Allow the input to grow
    padding: 10px; // Padding within the input
    border-radius: 20px; // Rounded input field
    border: 1px solid #ccc; // Border around the input
    outline: none; // No default outline
    resize: none; // Disable resizing

    &::-webkit-scrollbar {
      display: none; // Hide scrollbar on WebKit-based browsers
    }
  }

  // Styling for the send button
  .send-button {
    font-size: 22px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: transparent; // Transparent background
    color: $primary-color; // Primary color for button text
    cursor: pointer; // Change cursor to pointer for click interaction

    // Style when disabled (when loading or sending message)
    &.disabled {
      color: lightgray; // Change text color
      cursor: not-allowed; // Change cursor style to indicate no interaction
    }
  }
}
