// Common styling variables
$tile-spacing: 10px; // Spacing between tiles
$tile-border-radius: 15px; // Border radius for recommendation tiles
$tile-width: 150px; // Fixed width for recommendation tiles
$recommendation-bg-color: white; // Background color for tiles
$text-color: #333; // Default text color for the label

// Styling for Bot Recommendations (slide-in animation)
.bot-recommendations {
  animation: slide-in-from-left 0.3s forwards; // Slide in from left animation
  display: flex; // Flex layout for proper spacing
  flex-wrap: wrap; // Allow tiles to wrap
  gap: $tile-spacing; // Spacing between tiles
  margin-top: 5px; // Padding around the container
  margin-left: 40px; // Padding around the container

  // Styling for individual recommendation tiles
  .recommendation-tile {
    border-radius: $tile-border-radius; // Rounded corners
    text-align: center; // Center the content
    transition: box-shadow 0.3s; // Smooth hover transition
    width: $tile-width; // Fixed width for consistency
    background-color: #404040; // White background

    a {
      text-decoration: none;
    }

    .image-affiliated-link {
      background-color: $recommendation-bg-color; // White background
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      display: flex; // Flexbox to center the image
      justify-content: center; // Center horizontally
      align-items: center; // Center vertically
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
    }

    .test-affiliated-link {
      color: white; // Color for text
      font-weight: bold;
    }
  }
}
