// Define color variables for consistency
$primary-color: #008cba;
$bot-bg-color: #4d4d4d;
$text-color: white;
$border-radius: 15px;

// Define breakpoints for responsive design
$breakpoint-smartphone: 480px; // Smartphones
$breakpoint-tablet: 768px; // Tablets

// Main container setup for the chatbot
.chatbot-interface {
  display: flex; // Flex layout for alignment and arrangement
  flex-direction: column; // Layout is vertical
  padding: 20px;
  max-width: 60%; // Limit the width to 60%
  margin: 0 auto; // Center the chatbot interface horizontally

  // Responsiveness for tablet and smartphone
  @media (max-width: $breakpoint-tablet) {
    max-width: 80%; // For tablet-sized devices
  }

  @media (max-width: $breakpoint-smartphone) {
    max-width: 100%; // For smartphones
  }

  .chat-log {
    flex-grow: 1; // Allows this section to grow
    overflow-y: auto; // Enable vertical scrolling when needed
    border-bottom: 1px solid #ccc; // Bottom border
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex; // Use flexbox to arrange messages vertically
    flex-direction: column; // Messages stack vertically
  }

  .chat-msg {
    padding: 10px;
    border-radius: $border-radius;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    width: fit-content; // Adjust to content
    max-width: 75%; // Limit message width
    animation: slide-in 0.3s forwards;

    &.user {
      text-align: left;
      background-color: $primary-color;
      color: $text-color;
      align-self: flex-end;
      animation: slide-in-from-right 0.3s forwards;
    }

    &.bot {
      text-align: left;
      background-color: $bot-bg-color;
      color: $text-color;
      align-self: flex-start;
      animation: slide-in-from-left 0.3s forwards;
    }
  }

  .input-container {
    position: fixed; // Fix at the bottom
    bottom: 0; // Align to the bottom of the screen
    left: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    display: flex; // Use flexbox for alignment
    justify-content: center; // Center the input text
    border-top: 1px solid #ccc; // Border to separate from chat log

    .chat-input {
      flex-grow: 1; // Allow the input to grow
      border-radius: 20px; // Rounded corners
      padding: 10px; // Padding around the text
      border: 1px solid #ccc;
      outline: none;
      scrollbar-width: none;
      resize: none; // Hide the textarea expander
      max-width: 60%; // Limit the width of the input

      @media (max-width: $breakpoint-tablet) {
        max-width: 80%; // Adjust to 80% on tablets
      }

      @media (max-width: $breakpoint-smartphone) {
        max-width: 100%; // Adjust to 100% on smartphones
      }

      &::-webkit-scrollbar {
        display: none; // Hide the scrollbar on WebKit browsers
      }
    }

    .send-button {
      padding: 10px; // Padding around the button
      background-color: transparent;
      color: $primary-color;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &.disabled {
        color: lightgray;
        cursor: not-allowed;
      }
    }
  }
}
