.navigation-bar {
  position: fixed;
  padding-left: 15px;
  top: 0;
  height: 100%;
  transition: width 0.3s ease;
  width: 60px;
  background-color: #111b21;
  -webkit-tap-highlight-color: transparent;

  &.expanded {
    width: 200px;
    padding-right: 15px;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: flex;

    &:visited {
      color: inherit;
    }
  }

  .top-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;

    .icon {
      font-size: 24px;
      color: #00a884;
    }

    .website-title {
      margin-left: 10px;
      font-size: 12px;
      user-select: none;
      color: #00a884;
      font-weight: bold;
      align-content: center;
    }

    .toggle-button {
      margin-left: -10px;
      padding: 10px;
      cursor: pointer;
      border-radius: 50%;
      font-size: 20px;

      &:hover {
        background-color: rgba(208, 208, 208, 0.2);
      }

      &.expanded {
        margin-left: 40px;
      }
    }
  }

  .category-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .category-item {
      display: flex;
      padding: 10px;
      margin-top: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition:
        background-color 0.3s,
        border-radius 0.3s;

      &:hover,
      &.selected {
        background-color: rgba(208, 208, 208, 0.2);
        color: #00a884;
      }

      .icon {
        font-size: 20px;
      }

      .category-title {
        margin-left: 10px;
        font-size: 16px;
      }
    }
  }

  &.expanded .category-item {
    width: 100%;
  }
}

// Main content
.main-content {
  margin-left: 60px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 0;
  flex-grow: 1;
  transition: margin-left 0.3s ease;

  .header.expanded + & {
    margin-left: 215px;
  }
}
