.hero-section {
  text-align: center;
  padding: 20px;
}

.hero-image {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.hero-message {
  display: inline-block;
  padding: 10px;
  background-color: #008cba;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: default;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
